name: Generate and publish

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'
  

jobs:
  generate:
    name: Generate and publish
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Set up Go 1.18.2
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.2

      - name: Generate and publish
        run: go run main.go
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_REPO: anticensority/generated-pac-scripts

